<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5.1.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>无输入参数+无返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>无输入参数+有返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>有多个输入参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>有输入参数+无返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>有输入参数及返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0F29D6B1E8A45E200F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29D791E8A45EC00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29D841E8A460500F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29D8F1E8A462000F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29D9A1E8A463700F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29DA51E8A465000F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
